<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <titel>おみくじ</titel>
    </head>
    <body>
        <h1>おみくじ</h1>
        <% result = 'ありません' %>
        <p>おみくじの結果:<%= result %></p>
        <form action="/" method="POST">
            <buttun type="submit" name="act" value="draw">おみくじをひく！</buttun>
        </form>
    </body>
</html>